* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
input {
  outline: none;
}

body {
  background: #f3f3f3;
}

.header {
  height: 60px;
  color:#567b8e;
  background: #cfdbe5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  font-weight: bold;
  color: #567b8e;
  font-size: larger;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 2%;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

.search-box {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #577c8e;
  background-color: #fff;
  display: flex;
  padding: 1%;
}
.search-box img {
  width: 3%;
}

.search-box input {
  border: none;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.card {
  background: #cfdbe5;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.info h4 {
  color: #577c95;
  font-weight: 600;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 4%;
}
.info p {
  margin-bottom: 10px;
}

.qr {
  width: 240px;
  height: 240px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#time-select {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

#time-select button {
  padding: 6px 12px;
  border: none;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#time-select .active {
  background: #567b8e;
  color: white;
}

#link-gen {
  position: relative;
  width: 43.5%;
  display: flex;
}

.btn {
  justify-content: space-between;
  padding: 10px;
  border: none;
  background: #ddd6cf ;
  color: #567b8e;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  width: 40%;
  height: 50px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.btn:active {
    transform: scale(0.95);
}

.input-link {
  position: relative;
  display: flex;
  border: none;
  background: #ddd6cf;
  color:#567b8e;
}
.link-image{
  position: absolute;
  right: 0;
  margin: 10px;
  width: 30px;
  height: 30px;
}
.section-link {
  display: flex;
  gap: 20px;
  height: 50px;
}

/* ================= MOBILE ================= */
@media (orientation: portrait) {
  body {
    background-color: white;
    font-size: 270%;
  }
  h1 { font-size: 36px; }
  h2 { font-size: 30px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 20px; }
  h6 { font-size: 16px; }
  p {font-size: 18px;}
  .logo {font-size: 18px;}
  .card {
    flex-direction: column;
  }
  .card * {
    margin: 2%;
  }
  #UniqueText {
    display: none;
  }
  #time-select {
    font-size: 100%;
    display: block;
  }
  #time-select button {
    font-size: large;
  }
  .qr {
    width: 28vh;
    height: 28vh;
  }
  .btn {
    font-size: large;
    width: 100%;
  }
  .section-link{
    display: block;
  }
  #link-gen {
    width: 100%;
  }
  #link-gen input {
    font-size: large;
  }
  #link-gen img {
    width: 20%;
  }
  .small {
    font-size: 60%;
  }
  .link-image{
    display: none;
  }
  .small img {
    width: 4%;
  }
  .info {
    width: 80%;
  }
  .link-block {
    row-gap: 1rem;
  }
}
